body{
	padding: 0px !important;
	margin: 0px !important;
	background: url(../img/fondo1.png);
	background-size: cover;
	box-sizing: border-box;
	background-attachment: fixed;
}
:root{
	--mail: #079DD9;
	--instagram: #e4405f;
	--facebook: #3b5999;
	--wtsp: #1D733B;
	--linkedin: #0077B5;
}
@font-face{
	font-family: 'StopD';
	src: url(/font/StopD.ttf);
}
.container-fluid{
	display: flex;
	background: #333;
	text-align: center;
}
#navbarResponsive{
	padding: 5px;	
}
.boton{
	display: flex;  
        align-items: center;
	font-family: 'StopD';
}
.menu{
	padding: 5px;
}
.menu img{
	padding: 5px;
}
#logo1{
	width: 100px;
}
#logo2{
	width: 300px;
}
.menu ul{
	list-style: none;
}
.menu ul li{
    padding: 10px;
    padding-right: 20px;
    float: left;
}
.menu a{
	font-family: 'StopD';
	text-decoration: none !important;
	color: white;
	font-size: 30px;
	border-radius: 15px;
	box-shadow: 0px 3px 5px 0px rgba(255, 255, 255, 0.1);
}
.menu a:hover{
	color: #006B6E;
	background: url(../img/fondo2.png);
	background-size: cover;
	box-sizing: border-box;
	border-radius: 15px;
	box-shadow: 0px 3px 5px 0px rgba(0, 116, 184, 1);
}
#presentacion{
	background: #333;
	padding: 10px;
	text-align: justify;
	font-size: 25px;
	color: white;
	font-family: 'StopD'!important;
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.home img{
	padding: 0px !important;
}
#historia {  
    display: flex;  
    flex-direction: column;  
    align-items: center; /* Centra el contenido horizontalmente */  
}  
#texto {
    margin-bottom: 5px; /* Espacio entre el botón y el texto */  
    margin-top: 5px;
}  
h1{
	font-family: 'StopD'!important;
	text-align: center;
	background: #006B6E;
	color: white;
	border-radius: 10px;
}
#secciones li{
	padding: 5px;
}
.col-md-6 p{
	padding: 10px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	text-align: justify;
	font-size: 20px;
	border-radius: 10px;
}
#hjs{
	border-radius: 25px;
	width: 100%;
	box-shadow: 0 3px 5px 0 rgba(255, 255, 255, 0.4);
}
.col-md-4 img{
	padding: 10px;
	border-radius: 20px !important;
}
#compras .col-md-4{
	padding: 5px;
}
#compras .card{
	background: #333;
	border-radius: 15px;
} 
#compras h5{
	color: white;
	padding-top: 5px;
}
#compras p{
	color: white;
}
#compras a{
	font-family: 'StopD'!important;
}

*:focus {
	outline: 0;
}

html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Estilo del scroll para los textarea */
textarea::-webkit-scrollbar {
	width: 5px;
}

/* Contenedor barra de scroll para los textarea */
textarea::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1) inset,
							0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}

textarea {
	height: 250px;
	line-height: 20px;
	resize: none;
}

/* Formulario de contacto */
.form-contact {
	background: url(../img/fondo2.png);
	
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	box-sizing: border-box;
	margin: 1em auto;
	max-width: 95%;
	padding: 15px 0;
	width: 600px;
	border-radius: 25px;
}
.form-contact::before {  
	border-radius: 25px;
	content: '';  
	position: absolute;  
	top: 0;  
	left: 0;  
	width: 100%;  
	height: 100%;  
	background-color: rgba(255, 255, 255, 0.25); /* Cambia el color y la opacidad (0.5) según sea necesario */  
	z-index: 1; /* Asegúrate de que esté sobre la imagen */  
  }  
   .form-contact > * {  
	position: relative; /* Para que los hijos estén por encima del pseudo-elemento */  
	z-index: 2; /* Asegúrate de que el contenido sea visible */  
  }  

/* Título formulario de contacto */
.form-contact .title-form-contact {
	color: #006B6E;
 	font-family: 'StopD'!important;
 	font-size: 45px;
	margin-bottom: 50px;
	text-align: center;
}

/* Contenedor inputs formulario de contacto */
.form-contact .ctn-inputs {
	margin-bottom: 50px;
	position: relative;
}

/* Contenedor inputs para los que van 2 en la misma columna formulario de contacto */
.form-contact .ctn-middle {
	display: inline-block;
	margin-right: 10px;
	width: calc(49% - 10px);
}

/* Estilo del autocompletar en los inputs formulario de contacto */
.form-contact .ctn-inputs .effect-input:-webkit-autofill,
.form-contact .ctn-inputs .effect-input:-webkit-autofill:hover,
.form-contact .ctn-inputs .effect-input:-webkit-autofill:focus,
.form-contact .ctn-inputs .effect-input:-webkit-autofill:active {
	box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset;
}

/* Labels formulario de contacto */
.form-contact .ctn-inputs .support-text-form-contact {
	color: #ffffff;
	font: normal 18px 'Nunito Sans', sans-serif;
	left: 5px;
	pointer-events: none;
	position: absolute;
	top: 10px;
	transition: 0.3s ease all;
	user-select: none;
}

/* Efecto labels cuando el input esta en estado focus o valido Formulario de contacto */
.form-contact .ctn-inputs .support-text-form-contact.active-input-form-contact {
	color: #ffffff;
	font-size: 12px;
	top: -20px;
}

/* Inputs formulario contacto */
.form-contact .ctn-inputs .effect-input {
	background-color: rgba(255, 255, 255, 0);
	font-size: 20px;
	color: #000000;
	border-style: none;
	border-bottom: 1px solid #a4a4a4;
	display: block;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	padding: 0 15px;
	width: 100%;
}

.form-contact .ctn-inputs .effect-input.inline-block {
	display: inline-block;
}

/* Barra de los inputs para el efecto formulario de contacto */
.form-contact .ctn-inputs .bar-input-effect:before {
	content: '';
	background-color: rgba(255, 255, 255, 0);
	bottom: 0;
	height: 3px;
	position: absolute;
	transition: 0.3s ease all;
	width: 0;
}

.form-contact .ctn-inputs .bar-input-effect {
	display: block;
	position: relative;
}

/* Input de los nombres */
#contact_name_user_grupoamsi {
	text-transform: capitalize;
}


/* Estilos de los inputs del formulario de contacto cuando esten invalidos */
.form-contact .ctn-inputs .validate-input:invalid {
	border-bottom-color: #f53535;
}

/* Estilos de la línea inferior sobre la que esta la letra de los inputs del formulario de contacto cuando esten invalidos */
.form-contact .ctn-inputs .validate-input:invalid + .bar-input-effect:before {
	background-color: #f53535;
}

/* Efecto en la barra para cuando el input esta en estado focus o valido */
.form-contact .ctn-inputs .bar-input-effect.active-input-form-contact:before {
	width: 100%;
}

/* Icono limpiar input formulario de contacto */
.form-contact .ctn-inputs .bar-input-effect .clear-input-icon {
	bottom: 1rem;
	color: #7a7a7a;
	cursor: pointer;
	display: none;
	font-size: 12px;
	position: absolute;
	right: 1%;
}

/* Efecto hover al icono de limpiar input formulario de contacto */
.form-contact .ctn-inputs .bar-input-effect .clear-input-icon:hover,
.form-contact .ctn-inputs .bar-input-effect .clear-input-icon:focus,
.form-contact .ctn-inputs .bar-input-effect .clear-input-icon:active {
	color: #4a4a4a;
}

/* Icono limpiar input formulario de contacto cuando esten invalidos */
.form-contact .ctn-inputs .validate-input:invalid + .bar-input-effect .clear-input-icon {
	color: #f15555;
}

/* Efecto hover al icono limpiar input formulario de contacto cuando esten invalidos */
.form-contact .ctn-inputs .validate-input:invalid + .bar-input-effect .clear-input-icon:hover,
.form-contact .ctn-inputs .validate-input:invalid + .bar-input-effect .clear-input-icon:focus,
.form-contact .ctn-inputs .validate-input:invalid + .bar-input-effect .clear-input-icon:active {
	color: #f14040;
}

/* Texto indicativo del error del input */
.form-contact .ctn-inputs .error-input-form-contact {
	color: #f35252;
	display: inline-block;
	font: normal 12px 'Nunito Sans', sans-serif;
	line-height: 15px;
	position: relative;
	top: 5px;
}

.form-contact .ctn-btns-form-contact {
	display: flex;
	justify-content: space-around;
}

/* Botones Formulario */
.btn-form-contact {
	background-color: #006B6E;
	border-radius: 2px;
	border-style: none;
	box-shadow: 1px 0px #202020,
							0px 1px #202020,
							2px 1px #202020,
							1px 2px #202020,
							3px 2px #202020,
							2px 3px #202020,
							4px 3px #202020,
							3px 4px #202020,
							5px 4px #202020,
							4px 5px #202020,
							6px 5px #202020,
							5px 6px #202020;
	color: #ffffff;
	cursor: pointer;
	display: block;
	font-family: 'StopD'!important;
	letter-spacing: 1px;
	padding: 10px 20px;
	text-transform: uppercase;
    transition: 0.3s ease all;
}

/* Hover botón sección ayuda, botón formulario de contacto y botón de cerrar en el footer de los modales */
.btn-form-contact:hover,
.btn-form-contact:focus {
	background-color: #5a5a5a;
}

/* Efecto cuando dan click en el botón sección ayuda, botón formulario de contacto y botón de cerrar en el footer de los modales */
.btn-form-contact:active {
	box-shadow: 1px 0px #202020,
	 						0px 1px #202020,
	 						2px 1px #202020,
	 						1px 2px #202020,
	 						3px 2px #202020,
	 						2px 3px #202020,
	 						4px 3px #202020,
	 						3px 4px #202020;
	transform: translate(2px);
}

/* Animación de temblar de un lado a otro */
.shake {
	animation: shake 1s 1;
}

/* Animación de los mensajes de error en el formulario de conctacto web contacto */
@keyframes shake {
	0%,
	100% {
		transform: translateZ(0px);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translate3d(-10px, 0, 0);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translate3d(10px, 0, 0);
	}
}

footer{
	align-items: center;
	text-align: center;
	background: #333;
	padding: 2px;
}
footer p{
	color: white;
}
.ir-arriba{
	display: none;
	padding: 35px;
	background: url(../img/icono.png);
	background-size: cover;
	box-sizing: border-box;
	font-size: 40px;
	color: white;
	cursor: pointer;
	position: fixed;
	bottom: 120px;
	right: 50px;
	border-radius: 50px;
}
.pie{
	text-align: center;
}
.pie ul li{
	display: inline-block;
	margin: 0 15px;
	width: 50px;
	height: 50px;
	text-align: center!important;
}
.pie ul li a{
	display: block;
	color:  #fff;
	line-height: 50px;
	font-size: 18px;
	border-radius: 10px;
	box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
	transition: -2s;
}
.pie ul li a:hover{
	transform: translate(-3px) scale(1.05);
	box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
	filter: none;
}
.pie ul li .mail:hover{
	background: var(--mail);
}
.pie ul li .instagram:hover{
	background: var(--instagram);
}
.pie ul li .facebook:hover{
	background: var(--facebook);
}
.pie ul li .wtsp:hover{
	background: var(--wtsp);
}
.pie ul li .linkedin:hover{
	background: var(--linkedin);
}

@media(max-width:950px) {
	.container-fluid{
	background: #006B6E;
        }
	.menu a{
		font-size: 25px;
	}
	#logo1{
		display: none;
	}
	#logo2{
		margin: auto;
		border-radius: 15px;
		box-shadow: 6px 3px 6px 3px rgba(255, 255, 255, 0.5);
		width: 250px;
	}
	#presentacion{
	padding: 10px;
	font-size: 20px;
	}
	.pie ul li{
	margin: 0 5px;
	}
	textarea {
		height: 225px;
	}
	.form-contact .ctn-inputs .effect-input {
	font-size: 17px;
	}
	.ir-arriba{
		padding: 30px;
		bottom: 80px;
		right: 25px;
	}
	footer{
	text-align: justify;
	background: #006B6E;
	}
	footer p{
	font-size: 15px;
	}
		
	@media(max-width:720px) {
	#presentacion{
		padding: 5px;
		font-size: 16px;
	}
	#menu{
		justify-content: center;
	}
	.form-contact .ctn-inputs .effect-input {
		padding: 5px 5px;
		font-size: 13px;
	}
	.ir-arriba{
		padding: 30px;
		bottom: 80px;
		right: 25px;
	}
	.pie ul li{
		margin: 0 5px;
	}
	textarea {
		height: 100px;
	}
	footer{
		text-align: justify;
	}
	footer p{
		font-size: 12px;
	}
	.btn-form-contact {
		font-size: 10px;
	}
}
